@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  font-family: sans-serif;
}

.Home {
  position: relative;
  background: #161623;
  /* background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #161623 60%,
    rgba(255, 255, 255, 0.005) 100%
  ); */
  min-height: calc(100vh - 60px);
  margin: 15px;
  padding: 15px;
  border-radius: 20px;
  color: black;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.Home > h2 {
  display: flex;
  justify-content: space-around;
  color: rgb(255, 255, 255);
}

.Home > div {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.Home__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

@media (max-width: 350px) {
  .Home__container {
    justify-content: unset;
  }
}

.PaletaLista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px 50px;
}

@media (max-width: 1220px) {
  .PaletaLista {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 840px) {
  .PaletaLista {
    grid-template-columns: 1fr;
  }
}

.PaletaCardItem,
.PaletaListaItem {
  font-family: "Exo";
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 10px;
  width: 315px;
  display: flex;
  justify-content: space-around;
}

.PaletaCardItem {
  margin: 20px 0;
  height: 250px;
  width: 315px;
}

@media (max-width: 375px) {
  .PaletaCardItem,
  .PaletaListaItem {
    width: 315px;
    height: 180px;
  }
}

.PaletaCardItem > div,
.PaletaListaItem > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.PaletaCardItem__sabor,
.PaletaListaItem__sabor {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 100%;
}

.PaletaCardItem__descricao,
.PaletaListaItem__descricao {
  font-size: 0.85em;
}

.PaletaCardItem__preco,
.PaletaListaItem__preco {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: #000;
  text-align: center;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-top: 25px;
  margin-bottom: 25px;
}

.PaletaListaItem__foto {
  height: 200px;
  margin-right: 15px;
}

.paleta-escolhida-espaco {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.title h2 {
  margin-bottom: 3rem;
}

#idPaleta {
  padding: 0.5rem;
  width: 315px;
  border: none;
  border-radius: 0.2rem;
}

#idPaletaButton {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 0.4rem;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 600;
  border-radius: 0.2rem;
  width: 330px;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
  font-size: 1rem;
}

#idPaletaButton:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #ffffff;
}

#paleta-escolhida-input-espaco {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Header {
  max-width: 1110px;
  margin: 0 auto 25px auto;
  position: relative;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 20px 0 35px 0;
}

.Logo {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 340px;
  height: 45px;
}

.Logo__titulo {
  position: absolute;
  left: 55px;
  font-family: "Exo";
  font-weight: 700;
  font-size: 2.5em;
}

.Logo__icone {
  position: absolute;
  left: -20px;
  top: -15px;
}

.Sacola {
  position: relative;
  left: 5px;
}

.Sacola__icone {
  cursor: pointer;
}

.Sacola__badge {
  background-color: red;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  color: white;
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  bottom: 0;
  right: 0;
}

@media (max-width: 1220px) {
  .Header {
    max-width: 720px;
  }
}

@media (max-width: 840px) {
  .Header {
    max-width: 320px;
  }
}

@media (max-width: 400px) {
  .Header {
    max-width: 250px;
  }

  .row {
    column-gap: 20px;
  }

  .Logo__titulo {
    font-size: 1.5em;
  }
}

.modal-overlay {
  background-color: #00000099;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: auto;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #161623;
  padding: 1rem;
  height: 25px;
}

.modal-header h2 {
  color: #fff;
  font-size: 25px;
}

.modal {
  margin: 1rem;
  width: 100%;
  max-width: 600px;
  height: auto;
  min-height: 300px;
  background-color: #fff;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modal-body {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.modal-body div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.modal-body div input {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.8rem;
  margin-bottom: 10px;
  outline: none;
  border: solid 2px #ccc;
}

.modal-body div textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.8rem;
  margin-bottom: 5px;
  outline: none;
  border: solid 2px #ccc;
  font-family: sans-serif;
}

.modal-body div button {
  margin-top: 20px;
  padding: 0.5rem;
  width: 30%;
  font-size: 1rem;
  background-color: #ffffff;
  color: #161623;
  cursor: pointer;
  border-radius: 25px;
}

.modal-body div button:hover {
  background-color: #161623;
  color: #ffffff;
  transition: 0.7s;
}

.modal-close {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  transform: scale(0.9);
  transition: 0.7s;
  cursor: pointer;
}

.modal-close:hover {
  transition: 0.7s;
  transform: scale(1.15);
}

.button-modal--create button {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 0.4rem;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 600;
  border-radius: 0.2rem;
  width: auto;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
  font-size: 1rem;
}

.button-modal--create button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #ffffff;
}

.button-modal--create {
  display: flex;
  justify-content: flex-end;
  position: relative;
  left: 5px;
}

.Acoes {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.btn {
  border: none;
  color: #000;
  border-radius: 0.3rem;
  padding: 0.5rem;
  max-width: 280px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  width: 55%;
  margin-top: 30px;
  background-color: transparent;
  font-weight: 600;
  color: #fff;
  padding: 9px 13px;
}

.Acoes--editar {
  background-color: #00d5ff;
  border: solid 1px #00d5ff;
  transition: all 0.7s ease-in-out;
}

.Acoes--editar:hover {
  background-color: #007086;
  border: solid 1px #007086;
  transition: all 0.7s ease-in-out;
}

.Acoes--apagar {
  margin-left: 10px;
  background-color: #ff0000;
  border: solid 1px #ff0000;
  transition: all 0.7s ease-in-out;
}

.Acoes--apagar:hover {
  background-color: #850000;
  border: solid 1px #850000;
  transition: all 0.7s ease-in-out;
}

.modal-buttons-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.btns_delete {
  margin-top: 50px;
  width: 100%;
  height: auto;
}

.btn_delete {
  height: auto;
  padding: 9px 13px;
  width: 30%;
  justify-content: space-between;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  border-radius: 15px;
  transform: scale(0.9);
}

.btn_delete:hover {
  transform: scale(1);
}

.btns_delete--no {
  margin-left: 10px;
  background-color: #ff0000;
  border: solid 1px #ff0000;
  transition: all 0.7s ease-in-out;
}

.btns_delete--no:hover {
  background-color: #850000;
  border: solid 1px #850000;
  transition: all 0.7s ease-in-out;
}

.btns_delete--yes {
  margin-left: 10px;
  background-color: #03b600;
  border: solid 1px #03b600;
  transition: all 0.7s ease-in-out;
}

.btns_delete--yes:hover {
  background-color: #015408;
  border: solid 1px #015408;
  transition: all 0.7s ease-in-out;
}
